 <section class="product">
    <h2><%= link_to product.name, store_product_path(product) %></h2>
    <div class="description">
      <%= product.description %>
    </div>
    <p class="price">
      <%= number_to_currency product.price%>
    </p>
    <% if product.category %>
    <p>
      <strong>Category:</strong> <%= product.category.name %>
    </p>
    <% end %>
  </section>