<div class="h-100 d-flex align-items-center justify-content-center">
  <h1>Pottery With You</h1>
</div>

<div class="h-100 d-flex align-items-center justify-content-center">
  <h2>Handmade pottery items just for you.</h2>
</div>

<div class="h-100 d-flex align-items-center justify-content-center">
  <img src="https://cdn.shopify.com/s/files/1/0992/5600/collections/ceramics_1200x600_crop_center.jpg?v=1622589304" alt="W3Schools.com" class="img-fluid">
</div>
