<h2>Search Results for '<%= params[:search_keywords] %>'</h2>

<% if @products.size.zero? %>
  <p>No products found.</p>
<% else %>
  <p><%= pluralize(@products.size, 'Product') %> Found.</p>
  <%= render partial: 'products/product',
             collection: @products,
             locals: { display_link_to_show: true,
                        display_link_to_edit: false }%>
  <% end %>


